<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="78c3298d-d413-45df-8220-de852b862bce" Alias="loginregister" Level="1">
  <Info>
    <Name>Login/register</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Loginregister</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b7d2a75a-9b7b-4027-a7b1-afe9dcdb0696">Loginregister</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5a3911ec-c263-431e-8688-f369257c2d50" SortOrder="0">home</ContentType>
    <ContentType Key="78c3298d-d413-45df-8220-de852b862bce" SortOrder="1">loginregister</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>70340fec-1f42-492e-9218-50d00b5c5506</Key>
      <Name>Login</Name>
      <Alias>Login</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="loginRegister">Login/Register</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ab33a112-d463-4b18-9764-f33512f2b9ec</Key>
      <Caption>Login/Register</Caption>
      <Alias>loginRegister</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>