<?xml version="1.0" encoding="utf-8"?>
<Media Key="46f7c6ee-3b71-4f0d-b0f6-9f6c294fbc4e" Alias="Plex 4Eggluurj2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Plex4Eggluurj2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T14:55:08</CreateDate>
    <NodeName Default="Plex 4Eggluurj2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3ddportr/plex_4eggluurj2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>