<?xml version="1.0" encoding="utf-8"?>
<Content Key="332c604f-35ad-4c6f-9282-544624f25dac" Alias="dex" Level="3">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">Us</Parent>
    <Path>/Home/Us/dex</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2023-11-10T15:00:01</CreateDate>
    <NodeName Default="dex" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="61cd6312-f34f-4ac7-9788-0acafc672b47">Person</Template>
  </Info>
  <Properties>
    <department>
      <Value><![CDATA[Soft kille]]></Value>
    </department>
    <email>
      <Value><![CDATA[asdgt@gfkm.com]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[asd]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[t]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[gt]]></Value>
    </linkedInUsername>
    <photo>
      <Value><![CDATA[[
  {
    "key": "70b0d63b-019f-439e-a2ab-b4cef6ea4a14",
    "mediaKey": "46f7c6ee-3b71-4f0d-b0f6-9f6c294fbc4e"
  }
]]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[Soft grabb helt enkelt]]></Value>
    </seoMetaDescription>
    <twitterUsername>
      <Value><![CDATA[Jeff bezos]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>