<?xml version="1.0" encoding="utf-8"?>
<Content Key="d476951b-79ff-4fbc-b58e-c28a04e454d8" Alias="Kebab Pizza" Level="3">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">Us</Parent>
    <Path>/Home/Us/KebabPizza</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2023-11-10T15:54:17</CreateDate>
    <NodeName Default="Kebab Pizza" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="61cd6312-f34f-4ac7-9788-0acafc672b47">Person</Template>
  </Info>
  <Properties>
    <department>
      <Value><![CDATA[]]></Value>
    </department>
    <email>
      <Value><![CDATA[1 Svensk riksdal]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[]]></Value>
    </linkedInUsername>
    <photo>
      <Value><![CDATA[[
  {
    "key": "29589d3a-f142-4494-a9fb-d45091091090",
    "mediaKey": "e17f9aff-1a89-46d8-989b-cee98a0c7fa4"
  }
]]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[God pizza]]></Value>
    </seoMetaDescription>
    <twitterUsername>
      <Value><![CDATA[]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>