<?xml version="1.0" encoding="utf-8"?>
<Content Key="9480a7be-d638-46bd-ba9f-4f9d5e830cef" Alias="Login" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginregister</ContentType>
    <CreateDate>2023-11-10T14:48:42</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b7d2a75a-9b7b-4027-a7b1-afe9dcdb0696">Loginregister</Template>
  </Info>
  <Properties>
    <Login>
      <Value><![CDATA[<p> </p>
<?UMBRACO_MACRO macroAlias="Login" />
<?UMBRACO_MACRO macroAlias="Register" />
<p> </p>]]></Value>
    </Login>
  </Properties>
</Content>