<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62" Alias="Us" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Us</Path>
    <Trashed>false</Trashed>
    <ContentType>people</ContentType>
    <CreateDate>2023-11-09T15:03:53</CreateDate>
    <NodeName Default="Us" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a3bedda0-830e-436f-82c0-12e4c05ce33a">people</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/91eeccae2efc409ea4a4bbfacc2f77ac",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/adea340fbd634619a992aa227aa0694d",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/5f9999bb687f455e96a6a29b41fe6bb5",
        "areas": [
          {
            "key": "eb3edd9f-92e7-46a5-b9e8-c4ff0df24da5",
            "items": [
              {
                "contentUdi": "umb://element/4f22deb3c82843ffa83cd7069c64aeb0",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "d5b3d5e5-dd4d-42fb-b207-4cf5beaa1331",
            "items": [
              {
                "contentUdi": "umb://element/61291fb57bbf49fc9b404bc5c098749e",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "acb45439-f439-4f58-a54e-c3767bc33a9c",
      "udi": "umb://element/91eeccae2efc409ea4a4bbfacc2f77ac",
      "headline": "Pizzor"
    },
    {
      "contentTypeKey": "481218a7-cfcd-4b96-875e-fdb4c07839fe",
      "udi": "umb://element/adea340fbd634619a992aa227aa0694d",
      "image": [
        {
          "key": "d096b6b1-6aab-4fe3-833d-c4e77d6b9b02",
          "mediaKey": "46f7c6ee-3b71-4f0d-b0f6-9f6c294fbc4e"
        }
      ]
    },
    {
      "contentTypeKey": "11b28d22-9f80-4546-8657-4530e99950c4",
      "udi": "umb://element/5f9999bb687f455e96a6a29b41fe6bb5"
    },
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/4f22deb3c82843ffa83cd7069c64aeb0",
      "richText": "<p>Kebabpizza - 20kr</p>"
    },
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/61291fb57bbf49fc9b404bc5c098749e",
      "richText": "<p>Mat - 18kr</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <featuredPeople>
      <Value><![CDATA[]]></Value>
    </featuredPeople>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Vår meny]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>